/* IJP Assignment 1, Version 5.2.6, 31 Oct 2015 */
#message {
	-fx-padding: 3;
    -fx-background-color: white;
}

.button{  
    -fx-font: 22 arial;   
    -fx-base: #b6e7c9;
  	-fx-size: 20px;  
}  